@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: #ffffff;
  --foreground: rgb(0, 0, 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.45rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #0e0e0e;
  --foreground: #dfdfdf;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.87 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: #242424;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  /* Custom Color */
  --color-dark-background: #0e0e0e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Display */
@utility display-sm-regular {
  @apply text-[36px] leading-13 font-normal tracking-tight
  md:text-[52px] md:leading-14 
  xl:text-[52px] xl:leading-16
  2xl:text-[64px] 2xl:leading-16;
}

@utility display-sm-medium {
  @apply text-[36px] leading-13 font-medium tracking-tight
  md:text-[52px] md:leading-14 
  xl:text-[52px] xl:leading-16
  2xl:text-[64px] 2xl:leading-16;
}

@utility display-sm-semibold {
  @apply text-[36px] leading-13 font-semibold tracking-tight
  md:text-[52px] md:leading-14 
  xl:text-[52px] xl:leading-16
  2xl:text-[64px] 2xl:leading-16;
}

@utility display-sm-bold {
  @apply text-[80px] leading-13 font-bold tracking-tight
  md:text-[38px] md:leading-14 
  xl:text-[38px] xl:leading-16
  2xl:text-[64px] 2xl:leading-16;
}

@utility display-xs-regular {
  @apply text-[32px] leading-11 font-normal tracking-tight
  md:text-[38px] md:leading-14 
  xl:text-[48px] xl:leading-16
  2xl:text-[48px] 2xl:leading-13;
}

@utility display-xs-medium {
  @apply text-[32px] leading-11 font-medium tracking-tight
  md:text-[38px] md:leading-14 
  xl:text-[48px] xl:leading-16
  2xl:text-[48px] 2xl:leading-13;
}

@utility display-xs-semibold {
  @apply text-[32px] leading-11 font-semibold tracking-tight
  md:text-[38px] md:leading-14 
  xl:text-[48px] xl:leading-16
  2xl:text-[48px] 2xl:leading-13;
}

@utility display-xs-bold {
  @apply text-[32px] leading-11 font-bold tracking-tight
  md:text-[38px] md:leading-14 
  xl:text-[48px] xl:leading-16
  2xl:text-[48px] 2xl:leading-13;
}

/* Heading */

@utility heading-2-regular {
  @apply text-[30px] leading-13 font-normal tracking-tight
  md:text-[32px] md:leading-12 
  xl:text-[40px] xl:leading-12
  2xl:text-[40px] 2xl:leading-12;
}

@utility heading-2-medium {
  @apply text-[30px] leading-13 font-medium tracking-tight
  md:text-[32px] md:leading-12 
  xl:text-[40px] xl:leading-12
  2xl:text-[40px] 2xl:leading-12;
}

@utility heading-2-semibold {
  @apply text-[30px] leading-13 font-semibold tracking-tight
  md:text-[32px] md:leading-12 
  xl:text-[40px] xl:leading-12
  2xl:text-[40px] 2xl:leading-12;
}

@utility heading-2-bold {
  @apply text-[36px] leading-13 font-bold tracking-tight
  md:text-[32px] md:leading-12 
  xl:text-[40px] xl:leading-12
  2xl:text-[40px] 2xl:leading-12;
}

@utility heading-3-regular {
  @apply text-[30px] leading-13 font-normal tracking-tight
  md:text-[32px] md:leading-8 
  xl:text-[36px] xl:leading-8
  2xl:text-[36px] 2xl:leading-9;
}

@utility heading-3-medium {
  @apply text-[30px] leading-13 font-medium tracking-tight
  md:text-[32px] md:leading-8 
  xl:text-[36px] xl:leading-8
  2xl:text-[36px] 2xl:leading-9;
}

@utility heading-3-semibold {
  @apply text-[30px] leading-13 font-semibold tracking-tight
  md:text-[32px] md:leading-8 
  xl:text-[36px] xl:leading-8
  2xl:text-[36px] 2xl:leading-9;
}

@utility heading-3-bold {
  @apply text-[30px] leading-13 font-bold tracking-tight
  md:text-[32px] md:leading-8 
  xl:text-[36px] xl:leading-8
  2xl:text-[36px] 2xl:leading-9;
}

@utility heading-4-regular {
  @apply text-[32px] leading-11 font-normal tracking-tight
  md:text-[32px] md:leading-8 
  xl:text-[32px] xl:leading-8
  2xl:text-[32px] 2xl:leading-10;
}

@utility heading-4-medium {
  @apply text-[32px] leading-11 font-medium tracking-tight
  md:text-[32px] md:leading-8 
  xl:text-[32px] xl:leading-8
  2xl:text-[32px] 2xl:leading-10;
}

@utility heading-4-semibold {
  @apply text-[32px] leading-11 font-semibold tracking-tight
  md:text-[32px] md:leading-8 
  xl:text-[32px] xl:leading-8
  2xl:text-[32px] 2xl:leading-10;
}

@utility heading-4-bold {
  @apply text-[32px] leading-11 font-bold tracking-tight
  md:text-[32px] md:leading-8 
  xl:text-[32px] xl:leading-8
  2xl:text-[32px] 2xl:leading-10;
}

@utility heading-5-regular {
  @apply text-[20px] leading-6 font-normal tracking-tight
  md:text-[24px] md:leading-7 
  xl:text-[24px] xl:leading-7
  2xl:text-[24px] 2xl:leading-7;
}

@utility heading-5-medium {
  @apply text-[20px] leading-6 font-medium tracking-tight
  md:text-[24px] md:leading-7 
  xl:text-[24px] xl:leading-7
  2xl:text-[24px] 2xl:leading-7;
}

@utility heading-5-semibold {
  @apply text-[20px] leading-6 font-semibold tracking-tight
  md:text-[24px] md:leading-7 
  xl:text-[24px] xl:leading-7
  2xl:text-[24px] 2xl:leading-7;
}

@utility heading-5-bold {
  @apply text-[20px] leading-6 font-bold tracking-tight
  md:text-[24px] md:leading-7 
  xl:text-[24px] xl:leading-7
  2xl:text-[24px] 2xl:leading-7;
}

/* Text */

@utility text-20-regular {
  @apply text-[20px] leading-7 font-normal tracking-tight
  md:text-[16px] md:leading-7 
  xl:text-[16px] xl:leading-7
  2xl:text-[20px] 2xl:leading-8;
}

@utility text-20-medium {
  @apply text-[20px] leading-7 font-medium tracking-tight
  md:text-[16px] md:leading-7 
  xl:text-[16px] xl:leading-7
  2xl:text-[20px] 2xl:leading-8;
}

@utility text-20-semibold {
  @apply text-[20px] leading-7 font-semibold tracking-tight
  md:text-[16px] md:leading-7 
  xl:text-[16px] xl:leading-7
  2xl:text-[20px] 2xl:leading-8;
}

@utility text-20-bold {
  @apply text-[20px] leading-7 font-bold tracking-tight
  md:text-[16px] md:leading-7 
  xl:text-[16px] xl:leading-7
  2xl:text-[20px] 2xl:leading-8;
}

@utility text-18-regular {
  @apply text-[18px] leading-7 font-normal tracking-[-0.015em]
  md:text-[18px] md:leading-7 
  xl:text-[18px] xl:leading-7
  2xl:text-[18px] 2xl:leading-7;
}

@utility text-18-medium {
  @apply text-[18px] leading-7 font-medium tracking-[-0.015em]
  md:text-[18px] md:leading-7 
  xl:text-[18px] xl:leading-7
  2xl:text-[18px] 2xl:leading-7;
}

@utility text-18-semibold {
  @apply text-[18px] leading-7 font-semibold tracking-[-0.015em]
  md:text-[18px] md:leading-7 
  xl:text-[18px] xl:leading-7
  2xl:text-[18px] 2xl:leading-7;
}

@utility text-18-bold {
  @apply text-[18px] leading-7 font-bold tracking-[-0.015em]
  md:text-[18px] md:leading-7 
  xl:text-[18px] xl:leading-7
  2xl:text-[18px] 2xl:leading-7;
}

@utility text-16-regular {
  @apply text-[16px] leading-7 font-normal tracking-tight
  md:text-[16px] md:leading-7 
  xl:text-[16px] xl:leading-7
  2xl:text-[16px] 2xl:leading-7;
}

@utility text-16-medium {
  @apply text-[16px] leading-7 font-medium tracking-tight
  md:text-[16px] md:leading-7 
  xl:text-[16px] xl:leading-7
  2xl:text-[16px] 2xl:leading-7;
}

@utility text-16-semibold {
  @apply text-[16px] leading-7 font-semibold tracking-tight
  md:text-[16px] md:leading-7 
  xl:text-[16px] xl:leading-7
  2xl:text-[16px] 2xl:leading-7;
}

@utility text-16-bold {
  @apply text-[16px] leading-7 font-bold tracking-tight
  md:text-[16px] md:leading-7 
  xl:text-[16px] xl:leading-7
  2xl:text-[16px] 2xl:leading-7;
}

@utility text-14-regular {
  @apply text-[14px] leading-5 font-normal tracking-tight
  md:text-[14px] md:leading-5 
  xl:text-[14px] xl:leading-5
  2xl:text-[14px] 2xl:leading-5;
}

@utility text-14-medium {
  @apply text-[14px] leading-5 font-medium tracking-tight
  md:text-[14px] md:leading-5 
  xl:text-[14px] xl:leading-5
  2xl:text-[14px] 2xl:leading-5;
}

@utility text-14-semibold {
  @apply text-[14px] leading-5 font-semibold tracking-tight
  md:text-[14px] md:leading-5 
  xl:text-[14px] xl:leading-5
  2xl:text-[14px] 2xl:leading-5;
}

@utility text-14-bold {
  @apply text-[14px] leading-5 font-bold tracking-tight
  md:text-[14px] md:leading-5 
  xl:text-[14px] xl:leading-5
  2xl:text-[14px] 2xl:leading-5;
}

/* Glassy Border - Adapts to theme */
.glassy-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));

  /* Only shows the border area */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
  z-index: 1;
}

/* White borders for dark theme */
.dark .glassy-border::before {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.608),
    rgba(255, 255, 255, 0.146)
  );
}

/* Glassy Border Small Radius - Adapts to theme */
.glassy-border-small-radius::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));

  /* Only shows the border area */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
  z-index: 1;
}

/* White borders for dark theme */
.dark .glassy-border-small-radius::before {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.608),
    rgba(255, 255, 255, 0.146)
  );
}
